body {
    div {
        display: none;
        
    }

    &.wait .wait {
        display: block;
    }

    &.game-layout .game-layout {
        display: block;
    }

    &.confirm-layout .confirm-layout {
        display: block;
    }

    &.end-layout .end-layout {
        display: block;
    }

    &.result-layout .result-layout {
        display: block;
    }

}

.hidden {
    display: none;
}